.rounded-corners {
	border-radius: 16px;
}

.available {
	background: green;
}

.unavailable {
	background: #bfbfbf;
}

.undecided {
	background: #ccc;
}

.date {
	height: 32px;
	width: 160px;
}