@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {

	margin: 0px;
    padding-bottom: 20px;

	background-color: #333;
	background-image: linear-gradient(140deg, #333, #555);

	color: #eee;
    font-family: "Roboto", sans-serif;
}

#container {
	max-width: 1400px;
	/*background-color: #eee;*/
}

#header {
	height: 42px;
	background: #76b852;
	padding-top: 6px;
	padding-right: 20px;
	margin-bottom: 10px;
}

#user {
	padding: 2px 4px;
	float: right;
	/*clear: both;*/
}

.dropdown-container {
	display: inline-block;
	float: right;
}

.dropdown-container:hover .dropdown {
	display: block;
	color: white;
}

.dropdown {
	display: none;
	position: absolute;
	right: 2px;
    background-color: #aaa;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /*box-shadow: 0px 8px 16px 0px #000;*/
}

/* Links inside the dropdown */
.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown a:hover {background-color: #999}

.dropdown-item {
	display: block;
}

#event_selector {
	width: 100%;
}

.event {
/*	float: left;*/
	font-size: 32px;
	text-align: center;
}

#legend {
	height: 50px;
	float: left;
}

.legend-item {
	float: left;
	padding: 6px;
	margin-right: 4px;
	min-width: 40px;
	text-align: center;
}

#event_container {
	/*height: 100%;*/
}

.people {
	float: left;
}

.rounded-corners {
	border-radius: 12px;
}

.personList {
	float: left;
	clear: both;
	min-height: 36px;
}

.available {
	background: #63c125;
}

.unavailable {
	background: #ae0000;
}

.undecided {
	background: #aaa;
}

.dateRow {
	height: 104px;
	clear: both;
}

.padding {
	display: block;
	float: left;
	width: 40px;
	height: 104;
}

.date {
	float: left;
	padding: 2px 20px;
	margin-right: 4px;
	margin-bottom: 1px;
	height: 104px;
	width: 200px;
	line-height: 104px;
	vertical-align: middle;
	user-select: none;
	text-align: center;

	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE & Edge */
}

.date:hover {
 	cursor: pointer;
}

.person {
	padding: 2px 4px;
	display: inline;
	margin-right: 2px;
	float: left;
}

.logintext {
	height: 32px;
	line-height: 32px;
	float: left;
	vertical-align: middle;
	float: left;
	margin-right: 10px;
}

.avatar {
	float: left;
	margin-right: 2px;
}

.avatar img {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	vertical-align: middle;
}

.name {
	height: 32px;
	line-height: 32px;
	float: left;
	vertical-align: middle;
	font-size: 14px;
}

#admin-controls {
	display: none;
}

.button {
  /*float: right;*/
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  /*width: 30%;*/
  /*clear: both;*/
}

.message {
	color: #b3b3b3;
}

.save {
	float: right;
	min-width: 200px; 
}

#save-container {
	width: 60%;
	margin-top: 20px;
	margin-bottom: 100px;
}
